.side-bar
  .side-bar__sideheader
    .side-bar__sideheader__username
      = current_user.name
    .side-bar__sideheader__button
      = link_to "#", class: "side-bar__sideheader__btn" do
        = icon('fa', 'edit')
      = link_to edit_user_path(current_user), class: "side-bar__sideheader__btn" do
        = icon('fa', 'cog')

  .side-bar__sidecontents
    .side-bar__sidecontents__groupname
      sample
    .side-bar__sidecontents__firstmessage
      Good bye world!
    .side-bar__sidecontents__groupname
      sample
    .side-bar__sidecontents__firstmessage
      Good bye world!